.word-action .btn {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 6px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #495057;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.word-action .btn:hover {
    background: #fff;
    /* transform: translateY(-3px) scale(1.1); */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    color: #DD5746;
}