.react-select-creatable {
    width: 100%;
}

.collection-list h4 {
    margin-bottom: 20px;
    color: #343a40;
}

.collection-list a {
    text-decoration: none;
    color: #000000;
}

.card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    font-weight: bold;
    text-align: center;
}

.card-body {
    padding: 15px;
}
