.react-select-creatable {
    width: 100%;
}

.container-list h4 {
    margin-bottom: 20px;
    color: #343a40;
}

.container-list a {
    text-decoration: none;
    color: #000000;
}

.card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#card-collection:hover {
    transform: translateY(-5px);
}

.card-header {
    font-weight: bold;
    text-align: center;
}

.card-body {
    padding: 15px;
}

.fas {
    font-size: 14px;
}

.square {
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

/* CSS for hoverable dropdown */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Ensure the dropdown menu does not disappear when hovering */
.nav-item.dropdown .dropdown-menu {
    margin-top: 0; /* Remove any margin that might push it down */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
}

#word-list > .list-group,
#favorite-collection > .list-group {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
