* {
    box-sizing: border-box;
    /* outline: 1px solid limegreen !important; */
}

html {
    font-size: 16px;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    line-height: 1.5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.three-dots {
    display: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .flashcard {
        width: 70%;
        height: 400px;
    }

    .flashcard .definition {
        display: -webkit-box;
        -webkit-line-clamp: 5; /* Show up to 5 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #card-practice {
        height: 160px; /* Set a fixed height for the card */
    }

    .language-btn {
        width: 100%;
    }

    .custom-select {
        width: 100%;
    }
}

/* Media query for responsive buttons */
@media (max-width: 992px) {
    .function-buttons {
        display: none;
    }

    .three-dots {
        display: block;
    }
}
